config kmscon 'main'
	option enabled '1'
	option term 'xterm-256color'
	option font_size '14'
	# pango and freetype are not built; 8x16 is built in, psf is a module.
	option font_engine '8x16'
	option hwaccel '1'
	option login '/bin/login -p'
	# Seat to run on, or leave unset for seat0.
	option seats ''
